@font-face {
    src: url("../fonts/Merriweather/Merriweather-BlackItalic.ttf") format("ttf");
    src: local('Merriweather-BlackItalic');
    font-family: 'Merriweather', serif;
}

.header {
    word-spacing: 800px;
    width: 1000px;
    background-color: lightgreen;
    height: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    border-radius: 7px;
    text-decoration: none;
    font-family: 'Merriweather-BlackItalic'
}

.title_header {
    font-size: 15px;
    width: 700px;
    height: 60px;
    background-color: khaki;
    text-align: center;
    border: 1px solid #000;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 8px;
    margin-top: 50px;
    -webkit-align-content: center;
}

.h1_title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-decoration: none;
}

.a_href {
    border: 1px solid #333;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color: #000;
    border-radius: 3px;
}

.a_href:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
    color: #aa0000;
}

.nav_students {
    text-align: center;
    margin-top: 17px;

}

.nav_title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    word-spacing: 70px;
    margin-top: 17px;
    text-decoration: none;
}


.body {
    font-family: 'Merriweather-Regular';
    font-family: 'Merriweather-BlackItalic';
}
